body {
	background: #f9e933;
	font-size: 100%;
}

header, main, footer { 
	min-width: 855px;
	
}

header {
	background: white;
	overflow: auto;
	border-bottom: solid 2px lightgrey;
	padding-bottom: 30px; 
}

main {
	background: white;
	overflow: auto;
}

.container {
	max-width: 855px;
	margin: auto;
}

header h1{
	float: left;
	width: 570px;
}

header nav {
	float: right;
	width: 285px;
	margin-top: 30px;
}

footer {
	overflow: auto;
	border-top: solid 2px lightgrey;
}

.left-side {
	float: left;
	width: 570px;
}

.right-side {
	float: right;
	width: 285px;
}

.left-side2 {
	float: left;
	width: 190px;
}

.right-side2 {
	float: right;
	width: 95px;
}

h1, h2, h3, h4 {
	font-family: 'Ubuntu', sans-serif;
	margin-top: 30px;
	margin-bottom: 10px;
}

p, li, a{
	font-family: 'Droid Sans', sans-serif;
}

h1{
	font-size: 2.5em;
	font-weight: bold;
	font-style: italic;
	color: #C00000;
}

h2{
	font-size: 1.8em;
	font-weight: bold;
}

h3{
	font-size: 1.25em;
	font-weight: bold;
	margin-top: 30px;
}

h4{
	font-size: 1.25em;
	font-weight: bold;
}

a, li{
	font-weight: bold;
}

a {
	text-decoration: none;
	color: red;
}

a:hover {
	text-decoration: underline;
}

.light-bulb {
	margin-top: 10px;
	margin-bottom: 30px;
}

main img {
	height: 350px;
}

p {
	line-height: 20px;
}

.margin-text {
	margin-top: 10px;
}

.amazeriffic-footer {
	margin-top: 15px;
	color: #C00000;
	font-style: italic;
}











