body {
	background: #f9e933;
}

header, main, footer { 
	min-width: 855px;
	
}

header {
	background: white;
	overflow: auto;
}

main {
	background: white;
	overflow: auto;
}

.container {
	max-width: 855px;
	margin: auto;
}

header h1{
	float: left;
	width: 570px;
}

header nav {
	float: right;
	width: 285px;
}

footer {
	overflow: auto;
}

.left-side {
	float: left;
	width: 570px;
}

.right-side {
	float: right;
	width: 285px;
}

.left-side2 {
	float: left;
	width: 190px;
}

.right-side2 {
	float: right;
	width: 95px;
}

h1, h2, h3, h4 {
	font-family: 'Ubuntu', sans-serif;
}

p, li, a{
	font-family: 'Droid Sans', sans-serif;
}


















