body {
	width: 950px;
	margin: auto;
	background-color: #FFFFCC;
}

header {
	overflow: auto;
	border-bottom: 1.5px solid #3399CC;
	margin-top: 5px;
}

header h1 {
	float: left;
	width: 280px;
	font-size: 1.8em;
	font-weight: bold;
	margin-left: 400px;
}

h2 {
	font-size: 1.3em;
}

.container {
	margin-top: 30px;
}

main div {
	width: 190px;
	float: left;
}

footer {
	margin-top: 30px;
}

footer p {
	margin-top: 5px;
}

